.card-movie {
    position: relative;
    box-shadow: 0px 0px 30px 0px #FFFFFF54;
    border-radius: 16px;
    height: 334px;
    background-color: #3C3C3C;
    border: 1px solid #FFFFFF40;
}

.card-movie__img {
    object-fit: cover;
    border-radius: 16px;
    width: 222px;
    height: 334px;
}

.card-movie__top {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    color: #6A5DC2;
    top: -12px;
    left: -12px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .card-movie {
        box-shadow: none;
    }
}