.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.login__content {
    background-color: white;
    padding: 64px 40px;
    border-radius: 24px;
    position: relative;
    width: 340px;
    overflow: visible;
}

@media (max-width: 768px) {
    .login__content {
        width: 335px;
        padding: 64px 20px;
        box-sizing: border-box;
    }
}

.login__close-btn {
    position: absolute;
    top: 0;
    right: -72px;
    border: none;
    cursor: pointer;
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;

}

.login__icon {
    margin-bottom: 40px;
}

.login-form__wrapper-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.login-form__field-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-form__error-text-direct {
    color: #FF4D4F;
    font-size: 12px;
    margin-top: 4px;
    display: block;
    text-align: left;
}

.login-form__icon {
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
    color: #00000066;
}

.login-form__icon--error {
    color: #FF4D4F;
    opacity: 0.4;
}

.login-form__wrapper-btn {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.login-form__input {
    transition: border-color 0.3s ease-in;
}

.login-form__input:focus-visible {
    outline: none;
    border-color: #B4A9FF;
}

.login-form__input:hover {
    border-color: #B4A9FF;
}

.login-form__input--error {
    border-color: #FF4D4F !important;
}

.login-form__error-message {
    color: #FF4D4F;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 4px;
}

.login-form__error-message--center {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
}

@media (max-width: 768px) {
    .login__close-btn {
        right: 0;
    }

    .login__content {
        width: 295px;
        padding: 20px 32px;
    }
}