.layout {
	display: flex;
	flex-direction: column;
	min-height: 0;
	justify-content: center;
	align-items: flex-start;
	flex: 1;
}

.header {
	width: 100%;
	text-align: center;
	display: flex;
	padding: 24px 0;
	margin: 0 auto;
	gap: 20px;
	margin-bottom: 32px;
	align-items: center
}



.header-logo {
	height: 48px;
	margin: 0 auto 0 0;
}

.header-logo__icon {
	padding: 8px 0;
	color: #FFFFFF
}

.header-btn {
	background-color: transparent;
	border: none;
	color: #FFFFFF;
	padding: 0;
	font-size: 24px;
    line-height: 32px;
	font-family: 'Play', system-ui, sans-serif;
}

.header__profile-name {
	color: #FFFFFF;
	padding: 0;
	font-size: 24px;
    line-height: 32px;
	text-decoration: none;
	font-family: 'Play', system-ui, sans-serif;
	margin: 0 0 0 auto;
}

.active {
    border-bottom: 1.5px solid #DC5DFC;
}


.menu {
    height: 48px;
    display: flex;

}

.menu-list {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0;
    align-items: center
}

.menu-list__item-icon {
	display: none;
}



.menu-list__item-link {
	text-decoration: none;
}

.menu-search {
	min-height: 20px;
	min-width: 583px;
	padding: 12px 16px 12px 52px;
	background-color: #393B3C;
	border-radius: 8px;
	border: none;
	font-family: 'Play', system-ui, sans-serif;
	color: #FFFFFF;
}

.menu-search__btn {
	position: absolute;
	top: 11px;
	left: 16px;
	z-index: 10;
	background-color: #393B3C;
	border: none;
	padding: 0;
}

.menu-list__item--search {
    position: relative;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.footer {
	width: 100%;
	margin: 40px 0;
}

.social {
	display: flex;
	gap: 24px;
	justify-content: flex-end
}

.social-wrapper {
	border: solid 2px #FFFFFFCC;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
    justify-content: center;
	border-radius: 8px;
}

@media (max-width: 768px) {
	.header {
		padding: 16px 0;
		justify-content: space-between;
		margin: 0;
	}

	.menu {
		height: 32px;
	}

	.menu-list {
		gap: 20px
	}

	.header-logo__icon {
		width: 81px;
		height: 32px;
		padding: 0;	
	}

	.header-logo {
		margin: 0;
		width: 81px;
		height: 32px;
	}

	.menu-list__item{
		height: 24px;
	}

	.menu-list__item-name{
		display: none;
	}

	.menu-list__item .search-container{
		display: block;
	}

	.menu-list__item-icon {
		display: block;
		cursor: pointer;
		color: #FFFFFF;
	}

	.menu-list__item--search .menu-list__item-icon {
		display: block;
	}

	.menu-list__item-btn-icon {
		display: block;
		background: none;
		border: none;
		padding: 0;
		color: #FFFFFF;
	}

	.menu-list__item--main {
		display: none;
	}

	.social {
		justify-content: flex-start;
	}
	
}