.random-movie {
	margin-bottom: 80px;
	
}

.top-ten__title {
	font-size: 40px;
	line-height: 48px;
	font-weight: 700;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 64px;
	text-align: start;
}

@media (max-width: 768px) {
	.top-ten__title {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 40px;
	}

	.random-movie {
		margin-bottom: 24px;
	}

	.top-ten__wrapper {
        padding: 32px 0;
    }
}
