.form-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.form-field__error-text {
  color: #FF4D4F;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  z-index: 100;
  display: block;
}

.form-field > input,
.form-field > textarea {
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #00000066;
  padding:16px 16px 16px 52px;
  position: relative;
}




