#root {
  max-width: 1280px;
  width: 100%;
  flex: 1;              
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    width: calc(100% - 40px);
  }
  
}

