body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Play', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.18) 131.74%);
}

main {
  flex: 1;
}

.btn {
  cursor: pointer;
}

.btn--submit {
  background-color: #67A5EB;
  color: #FFFFFF;
  padding: 16px;
  border: none;
  border-radius: 28px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.btn--submit:hover {
  background-color: #85beff;
}

.btn--second {
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding: 0;
}

.btn--second:hover {
  color: #3b3b3b;
}

.btn--menu {
  font-size: 24px;
    line-height: 32px;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

